@charset "UTF-8";
/* Polices */
@font-face {
  font-family: "robotoregular";
  src: url("roboto_regular_macroman/Roboto-Regular-webfont.eot") format("eot");
  src: url("roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype");
  src: url("roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff");
  src: url("roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-family: "Shrikhand";
  src: url("Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
/* Variables */
/* Spinner loader */
.loader {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  animation: loader 3s ease-in 0s both;
}

.folk {
  transform: rotate(0deg);
  animation: folk 0.6s cubic-bezier(0.84, 0.04, 0.16, 0.94) infinite;
}
.folk--picture {
  width: 200px;
  height: 200px;
}
@keyframes folk {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(45deg);
  }
  90%, 100% {
    transform: rotate(0deg);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 10;
  }
  60% {
    opacity: 0.7;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

/*Styles globaux*/
* {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

header {
  width: 100%;
  max-width: 1600px;
}

main {
  width: 100%;
  max-width: 1600px;
}

footer {
  width: 100%;
  max-width: 1600px;
}

h1 {
  font-size: 30px;
  font-weight: 900;
}

h2 {
  font-size: 26px;
  font-weight: 900;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/*Boutons*/
.btn_heart {
  background-color: white;
  border: none;
}

.btn_heart_menu {
  border: none;
  background-color: #f2f2f2;
}

.btn {
  color: white;
  padding: 20px 30px;
  background: linear-gradient(180deg, #ff79da, #9356dc);
  border-radius: 50px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
  transition: filter 450ms, box-shadow 300ms 150ms;
}
.btn:hover {
  filter: brightness(115%);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

/*Coeurs*/
.fa-heart {
  opacity: 1;
  position: relative;
  cursor: pointer;
  /* click sur le coeur sur mobile et survole sur desktop */
}
.fa-heart::after {
  content: "\f004";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-out;
}
@media screen and (max-width: 991px) {
  .fa-heart:active::after {
    font-weight: 900;
    opacity: 1;
    background: radial-gradient(ellipse at top, #ff79da, transparent), radial-gradient(ellipse at bottom, #9356dc, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media screen and (min-width: 992px) {
  .fa-heart:hover::after {
    font-weight: 900;
    opacity: 1;
    background: radial-gradient(ellipse at top, #ff79da, transparent), radial-gradient(ellipse at bottom, #9356dc, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/*Entête de page*/
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  /*Entête de page menu restaurant*/
}
.header__logo {
  width: 220px;
  padding: 20px 0;
}
.header__icon {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  font-size: 25px;
  color: black;
  cursor: pointer;
}

/*Corps de la page d'accueil (Home)*/
/*Section 1 accueil : localisation et recherche*/
.search {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.location {
  background-color: rgba(128, 128, 128, 0.2);
  width: 100%;
  padding: 20px 0;
}
.location__input {
  background-color: rgba(128, 128, 128, 0);
  border: none;
  text-align: center;
  font-weight: 700;
}

.presentation {
  width: 100%;
  padding: 40px 20px 80px 20px;
}
.presentation__title {
  padding: 0 15px;
}
.presentation__subtitle {
  color: #666666;
  font-size: 20px;
  margin-bottom: 60px;
}

/*Section 2 accueil : fonctionnement et présentation*/
.functioning {
  padding: 50px 30px;
}
.functioning__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 30px 20px;
}
.functioning__item {
  width: 100%;
  min-width: 280px;
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 10px 20px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  /*Passage en ligne des étapes fonctionnement sur écrans à partir de 992px  */ 
}
.functioning__item:hover {
  background-color: #f2eafb;
}
.functioning__item:hover .functioning__icon {
  color: #9356dc;
}
@media screen and (min-width: 992px) {
  .functioning__item {
    flex: 0 1 30%;
  }
}
.functioning__number {
  color: white;
  background-color: #9356dc;
  border-radius: 100%;
  padding: 5px 10px;
  margin-left: -15px;
}
.functioning__icon {
  color: #666666;
}
.functioning__txt {
  font-weight: 700;
}

/*Section 3 accueil : restaurants*/
.restaurants {
  background-color: #f2f2f2;
  padding: 50px 30px;
}
.restaurants__container {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.restaurants__link {
  flex: 1 1 45%;
}
.restaurants__card {
  position: relative;
  width: 100%;
  min-width: 280px;
  height: 280px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.restaurants__tag {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #278870;
  font-weight: bold;
  background-color: #99e2d0;
  padding: 5px 10px;
}
.restaurants__img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurants__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  line-height: 1.5em;
}
.restaurants .fa-heart {
  font-size: 24px;
}

/* ----------------------- */
/*Corps de page restaurant*/
/*Section 1 page restaurant : bannière entête restaurant*/
.banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/*Section 2 page restaurant : carte */
.menu {
  padding: 20px 30px 120px 30px;
  background-color: #f2f2f2;
  border-radius: 50px 50px 0px 0px;
  margin-top: -50px;
  position: relative;
}
.menu__restaurants-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.menu__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}
.menu__icon {
  font-size: 28px;
}
.menu__card {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu__dishes {
  width: 100%;
  min-width: 280px;
  padding-bottom: 20px;
  /*Passage sur 3 colonnes des plats sur écrans à partir de 1024px)*/
}
.menu__dishes:nth-child(1) {
  animation: slide-up 1500ms ease-in-out 100ms;
}
.menu__dishes:nth-child(2) {
  animation: slide-up 2500ms ease-in-out 100ms;
}
.menu__dishes:nth-child(3) {
  animation: slide-up 3500ms ease-in-out 100ms;
}
@keyframes slide-up {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .menu__dishes {
    flex: 0 1 32%;
  }
}
.menu__subtitle {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7em;
}
.menu__separator {
  height: 4px;
  width: 45px;
  background-color: #99e2d0;
  border: none;
}
.menu__dish {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: white;
  padding: 10px;
  margin: 20px -5px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  line-height: 1.7em;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .menu__dish:active .menu__dish-price {
    transform: translateX(-80px);
  }
  .menu__dish:active .menu__dish-checkbox {
    transform: translateX(-100%);
  }
  .menu__dish:active .menu__dish-check {
    transform: rotate(360deg);
  }
  .menu__dish:active .menu__dish-title {
    width: 70%;
  }
  .menu__dish:active .menu__dish-composition {
    width: 65%;
    /* compensation pour la largeur avec le prix */
  }
}
@media screen and (max-width: 991px) and (min-width: 460px) {
  .menu__dish:active .menu__dish-composition {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .menu__dish:hover .menu__dish-price {
    transform: translateX(-80px);
  }
  .menu__dish:hover .menu__dish-checkbox {
    transform: translateX(-100%);
  }
  .menu__dish:hover .menu__dish-check {
    transform: rotate(360deg);
  }
  .menu__dish:hover .menu__dish-title {
    width: 70%;
  }
  .menu__dish:hover .menu__dish-composition {
    width: 65%;
    /* compensation pour la largeur avec le prix */
  }
}
@media screen and (min-width: 992px) and (min-width: 460px) {
  .menu__dish:hover .menu__dish-composition {
    width: 70%;
  }
}
.menu__dish-title {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: width 500ms ease-in-out;
}
.menu__dish-caption {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.menu__dish-composition {
  font-size: 16px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: width 500ms ease-in-out;
}
.menu__dish-price {
  font-weight: bold;
  transition: transform 500ms ease-in-out;
}
.menu__dish-checkbox {
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 80px;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease-in-out;
}
.menu__dish-check {
  color: white;
  font-size: 30px;
  font-weight: 900;
  transition: transform 500ms ease-in-out;
}
.menu__btn {
  padding: 20px 50px;
  margin-bottom: 80px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* --- Pied de page global ---*/
.footer {
  background-color: #333333;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  /*Style footer sur tablette et desktop*/
}
.footer__logo {
  font-family: "Shrikhand", sans-serif;
  color: white;
  font-size: 20px;
}
.footer__nav {
  font-size: 16px;
}
.footer__list {
  line-height: 1.8em;
}
.footer__link {
  color: white;
}
.footer__icon {
  padding-right: 10px;
}
.footer .fa-hands-helping {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
}

/* Body centrage pour écrans avec une grande résolution > $width-max */
.centrage {
  display: flex;
  flex-direction: column;
  align-items: safe center;
}

/* animation site restaurant qui s'affiche dés le debut et fleche */
/* btn-active coeur une fois liké, reste; nous sommes limité sans script */

/*# sourceMappingURL=styles.css.map */
